.chapters {
  padding: 0;
}

.units {
  li {
    padding: 2px 4px;
    &.active {
      background: #4db6ac;
      border-radius: 5px;
    }
    &:hover:not(.active) {
      cursor: pointer;
      background: #cae9e6;
    }
  }
}
