@use './scss/colors.scss' as colors;
@use './scss/variables.scss' as vars;
@use './scss/typography.scss' as typography;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: colors.$light-bg-color;
    font-family: MuseoSans;
}

#root,
#clp-app {
    height: 100%;
}

.clp-simple-button {
    color: colors.$primary-high-contrast-color !important;
}
.clp-button {
    color: #fff !important;
    background-color: colors.$primary-high-contrast-color !important;
    line-height: 24px !important;
    &:hover {
        background-color: colors.$primary-link-color !important;
    }
    &--outlined {
        font-size: vars.$font-size-s !important;
    }
    &--rounded {
        display: flex;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 24px !important;
        color: colors.$primary-text;
        font-weight: 500 !important;
        background-color: colors.$accent-color !important;
        line-height: 24px !important;
    }
}
