@use './scss/colors.scss' as colors;
@use './scss/variables.scss' as vars;
@use './scss/typography.scss' as typography;

html,
body {
    margin: 0;
    padding: 0;
    background: colors.$light-bg-color;
    padding-bottom: 64px;
    font-family: MuseoSans;
}
