@use './scss/colors.scss' as colors;
@use './scss/variables.scss' as vars;
@use './scss/typography.scss' as typography;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: colors.$light-bg-color;
    font-family: MuseoSans;
}

#root,
#clp-app {
    height: 100%;
}

.clp-button {
    color: #fff !important;
    background-color: colors.$primary-high-contrast-color !important;
    line-height: 24px !important;
    &:hover {
        background-color: colors.$primary-link-color !important;
    }
}
