.MuiFormControl-root {
  max-width: 500px;
}

.rule {
  &-fields {
    width: 50%;
  }
  &-operators {
    width: 90px;
  }
  &-value {
    flex: 1;
  }
  &-remove {
    width: 50px;
  }
}

div.ruleGroup-combinators {
  margin-right: auto;
}

.logic {
  margin-top: 32px;
}

.queryBuilder-invalid {
  position: relative;
  padding-left: 24px;
  padding-bottom: 4px;
  border-bottom: 2px solid #f44336;

  &::before {
    font-family: 'Material Icons';
    content: '\e001';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 24px;
    width: 24px;
    font-size: 24px;
    color: #f44336;
  }
}
