$white: #fff;
$light-bg-color: #f2f4f5;
$mat-light-bg-color: #fafafa;

$primary-color: #4db6ac;
$primary-lighter-color: #cae9e6;
$primary-darker-color: #349e92;
$primary-link-color: #4a798d;
$primary-high-contrast-color: #1b3a3f;

$accent-color: #eb6029;
$accent-lighter-color: #f9cfbf;
$accent-darker-color: #e34419;

$warn-color: #a94442;
$warn-lighter-color: #e5c7c6;
$warn-darker-color: #8f2d2b;

$primary-text: rgba(0, 0, 0, 0.87);
$dark-accent-text: rgba(0, 0, 0, 0.54);
$dark-disabled-text: rgba(0, 0, 0, 0.38);
$dark-focused: rgba(0, 0, 0, 0.12);

$light-accent-text: rgba(255, 255, 255, 0.7);
$light-disabled-text: rgba(255, 255, 255, 0.5);
$light-dividers: rgba(255, 255, 255, 0.12);
$light-focused: rgba(255, 255, 255, 0.12);
