.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 300px auto;
  column-gap: 32px;

  @media only screen and (max-width: 768px) {
    display: block;
  }

  > div {
    max-width: 100%;
    overflow: hidden;
  }
}
