@use '../../../scss/colors.scss' as colors;
@use '../../../scss/variables.scss' as vars;

.green-section {
    width: 100%;
    padding: (4 * vars.$default-margin) 0;
    flex-shrink: 0;
    background: url('../../../assets/img/header-bg-lp-page.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-width: 600px) {
        h1 {
            font-size: 32px;
            line-height: 44px;
            text-align: center;
        }
    }
}
.home-section {
    padding: 80px 20px;
    color: colors.$primary-text;
    background-color: colors.$mat-light-bg-color;
    &--grey {
        background-color: colors.$light-bg-color;
    }
    &--illustration {
        height: 360px;
        background-color: colors.$primary-color;
    }
    @media only screen and (max-width: 600px) {
        padding: 40px vars.$default-margin;
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 16px;
            line-height: 28px;
        }
    }
}
.hiw-for-whom-h5 {
    padding-top: 3 * vars.$default-margin;
    border-top: 2px solid colors.$primary-darker-color;
}
.hiw-list {
    font-size: 18px;
    line-height: 28px;
    li {
        margin-bottom: 16px;
    }
    @media only screen and (max-width: 600px) {
        font-size: 16px;
        line-height: 26px;
    }
}
.logos-wrapper {
    padding: 3 * vars.$default-margin 0;
    display: flex;
    align-items: center;
    &__img:first-child {
        text-align: left;
    }
    &__img:nth-child(2) {
        text-align: center;
    }
    &__img:last-child {
        text-align: right;
    }
    @media only screen and (max-width: 600px) {
        .logos-wrapper__img {
            text-align: center;
            &:not(:last-child) {
                margin-bottom: 2 * vars.$default-margin;
            }
        }
    }
}
.btn-wrapper {
    @media only screen and (max-width: 600px) {
        text-align: center;
    }
}
