@use '../../../scss/colors.scss' as colors;
@use '../../../scss/variables.scss' as vars;
@use 'sass:math' as math;

.green-header {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    padding: (1 * vars.$default-margin) 0;
    flex-shrink: 0;
    background: url('../../../assets/img/header-bg-lp-page.png');
    background-repeat: no-repeat;
    background-size: cover;
    .link-icon {
        color: white;
        margin-right: math.div(vars.$default-margin, 2);
    }
}
.query-builder {
    padding: (2 * vars.$default-margin) 0;
}
.refresh-button {
    position: fixed !important;
    right: 24px;
    bottom: 24px;
}
.toolbar {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    button:first-child {
        margin-right: math.div(vars.$default-margin, 2);
    }
}
.link-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: vars.$default-margin;
}
