@use '../../../scss/variables.scss' as vars;
@use '../../../scss/colors.scss' as colors;
@use 'sass:math';

.faq {
    padding: (2 * vars.$default-margin) vars.$default-margin;
    overflow-x: hidden;
    @media only screen and (max-width: 600px) {
        padding: vars.$default-margin 0;
    }
    &__content {
        padding: (2 * vars.$default-margin) (3 * vars.$default-margin);
        background-color: colors.$white;
        border-radius: 4px;
        overflow-y: auto;
        overflow-x: hidden;
        h1 {
            margin-bottom: 2 * vars.$default-margin;
            color: colors.$primary-darker-color;
        }
        p {
            line-height: 22px;
        }
        section:nth-child(2) {
            overflow-x: auto;
        }
        .table-wrapper {
            overflow-x: auto;
        }
        @media only screen and (max-width: 600px) {
            padding: vars.$default-margin vars.$default-margin;
        }
    }
}

.col-th {
    padding-right: math.div(vars.$default-margin, 2);
    font-size: 14px;
}

.textarea-lookalike {
    padding: 2px;
    margin-top: vars.$default-margin;
    appearance: textarea;
    border: 1px solid gray;
    font: -webkit-small-control;
    height: 49px;
    resize: both;
    overflow-y: scroll;
}
